/* .youtubeImg {
    height: 150px;
    width: 250px;
} */

.youtubeImg {
    height: 450px;
    width: 450px;
    object-fit: contain;
}

@media screen and (max-width: 500px) {
    .mediaQuery {
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }
}